html {
  height: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /*height: 100%;*/
  background-image: url('../img/bw.jpg');
  background-repeat: repeat;
  background-position: center center;
  font-family: Gill Sans, sans-serif;
  font-size: 1.7rem;
  position: relative;
  padding-bottom: 2rem;  /*height of the footer*/
  margin: 0;
}

header {
  width: 100%;
  height: 10rem;
  background-color: #787878;
  border-bottom: 3px solid #edd15a;
}

.headercontainer {
  width: 90%;
  margin: auto;
}

nav a {
  text-decoration: none;
  color: #ccc;
  margin-right: 0.5rem;
}

.title {
  font-size: 3.2rem;
  font-family: cursive;
  color: #16A085;
}

footer {
  width: 100%;
  height: 2rem;
  background-color: #787878;
  border-top: 3px solid #edd15a;
  position: absolute;
  bottom: 0;
  clear: both;
}
