body {
  display: flex;
  vertical-align: middle;
  align-items: center;
  flex-direction: column;
}

#maintitle {
  font-size: 5rem;
}

h2 {
  color: #787878;
}

input {
  width: 20rem;
  outline:none;
}

.button {
  cursor: pointer;
  border: solid 1px transparent;
  background-color: #16A085;
  color: #fff;
  outline:none;
}

.button:hover {
  background-color: #18b294;
}

.connexion, .inscription {
  border: 20px solid #edd15a;
  padding: 3rem 9rem 3rem 9rem;
  background-color: #fff099;
}

.inscription {
  margin-top: 2rem;
}

#forgot, #galleryaccess {
  text-decoration: none;
  color: #7F8C8D;
}

.galleryaccess {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#forgot:hover, #galleryaccess:hover {
  color: #686f70;
}

#buttonforgot {
  margin-top: 1rem;
}
