body {

}

.centre {
  display: flex;
}

main {
  display: flex;
  margin: 10px;
}

aside {
  margin: 5px;
}

.webcam, .apercu {
  display: flex;
  flex-direction: column;
}

#video {
  margin-right: 5px;
  border: 2px solid #7F8C8D;
}

#canvas {
  background-color: #fff099;
  border: 2px solid #7b654f;
}

.displaypic {
  float: left;
  position: relative;

}

.minipic {
  height: 100px;
  margin: 5px;
}

.delete {
  position: absolute;
  top: 5;
  right: 5;
}
